body {
  font-size: 16px;
}

blockquote {
    border-left: 6px solid #ff6600;
    background-color: #ffefe5;
    color: #666;
    font-style: italic;
    margin: 2em auto 2em;
    padding-left: 15px;
    display: inline-block;
}

.quoter {
  display: block;
  font-style: normal;
}
