html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

blockquote {
    border-left: 6px solid #ff6600;
    background-color: #ffefe5;
    color: #666;
    font-style: italic;
    margin: 1em auto 2em;
    padding-left: 15px;
    display: inline-block;
}

.quoter {
  margin-top: .5em;
  display: block;
  font-style: normal;
}

.answer-feedback {
  margin-top: 1em;
  font-size: 1.5em;
}

.answer-correct {
  color: green;
}

.answer-wrong {
  color: red;
}
