<span class="error" ng-hide="questions.length">Unable to get quiz questions. Sorry!</span>

<div ng-show="questions.length">
  <div class="questionContainer">
    <p>{{ currentIndex + 1 + "/" + questions.length }}</p>
    <!--p>You've answered {{ numCorrect }} questions correctly.</p-->
    <p>{{ currentQuestion.food }}</p>
  </div>
  
  <div class="quizBtnContainer">
  	<button type="button" ng-click="checkAnswer('derby')" id="btnLeft" class="btn btn-primary btn-lg" ng-disabled="questionAnswered">Derby</button>
  	<button type="button" ng-click="checkAnswer('pregnant')" id="btnRight" class="btn btn-primary btn-lg" ng-disabled="questionAnswered">Pregnant</button>
  </div>
  
  <div ng-show="questionAnswered">
    <blockquote>
      <span ng-show="currentQuestion.comment">{{ currentQuestion.comment }}</span>
      <span class="quoter">{{ "-" + currentQuestion.name }}</span>
    </blockquote>
  </div>
    
  <button type="button" ng-click="getNextQuestion()" ng-show="questionAnswered && !gameOver" class="btn btn-primary btn-lg">Next &#65515;</button>
  
  <a ng-href="#/endgame" ng-show="gameOver">View your score</a>
</div>